<h1>Section Page</h1>

<h3><%=@section.name %></h3>

<% if @section.lessons.any? %>
  <ul>
    <% @section.lessons.each do |lesson| %>
      <li><%= link_to lesson.title, section_lesson_path(@section, lesson) %>
        | <%= link_to 'Edit', edit_section_lesson_path(@section, lesson) %>
        | <%= link_to 'Delete', section_lesson_path(@section, lesson),
                                          :data => {:confirm => "You sure m8?",
                                                    :method => "delete"}%>
        </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There will be no dancing lessons in Bomont.
  </p>
<% end %>

<h4><%= link_to "Add Lesson", new_section_lesson_path(@section) %></h4>
